
[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Exec="/home/docbill/bin/salesforce-ide"
Categories=Application;Development;
Name=Docker Force.com IDE
Name[en_US]=Docker Force.com IDE
Comment="The Force.com IDE is a powerful client application for creating, modifying, testing and deploying Force.com applications. Based on the Eclipse platform, it provides a comfortable environment for programmers familiar with integrated development environments, allowing you to code, compile, test, and deploy all from within the IDE itself."
Comment[en_US]="The Force.com IDE is a powerful client application for creating, modifying, testing and deploying Force.com applications. Based on the Eclipse platform, it provides a comfortable environment for programmers familiar with integrated development environments, allowing you to code, compile, test, and deploy all from within the IDE itself."
Icon=/home/docbill/bin/salesforce-ide.xpm
Icon[en_US]=/home/docbill/bin/salesforce-ide

